.footer {
    .footer-box {
        width: 1360px;
        margin: 0 auto;
        background-color: $bg_Container;
        height: 450px;
        border-radius: 40px;
        padding: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .footer-text-link {
            width: 530px;
            margin: 0 100px;

            .footer-link {
                .footer-list-link {
                    display: flex;

                    .footer-item {
                        border: 1px solid $bg_Page;
                        border-radius: 100px;
                        margin-left: 12px;
                        transition: .4s all linear;

                        &:hover {
                            svg {
                                path {
                                    stroke: #b0907a;
                                }
                            }

                            background-color: $bg_Page;
                            border-color: #b0907a;
                        }

                        .footer-link {

                            svg {

                                width: 24px;
                                height: 24px;
                                margin: 12px;
                            }

                        }
                    }
                }
            }
        }

        .footer-contacts {
            .footer-phone {
                text-decoration: none;
            }
        }
    }
}