// Text
$text_Primary:#403F3D;
$text_Inverse:#E1D4C9;
$text_Accent:#B0907A;

// Background
$bg_Page:#E1D4C9;
$bg_Container:#665F55;
$bg_Overlay:#403F3D;

// Border
$border_Primary:#C1B6AD;
$border_Inverse:#665F55;


// Colors [Dark]---------
// Text
$dark-text-primary:#E1D4C9;
$dark-text-inverse:#E1D4C9;
$dark-text-accent:#B0907A;

// Background
$dark-bg-page:#292826;
$dark-bg-comtainer:#403F3D;
$dark-bg-overlay:#292826;

// Border
$dark-border-primary:#665F55;
$dark-border-inverse:#C1B6AD;